### Business Analytics Group Assignment - Predicting Airbnb Listing Prices in Melbourne__ {-}

--- 

**Kaggle Competition Ends:** Friday, 2 June 2023 @ 3:00pm (Week 13)  
**Assignment Due Date on iLearn:** Friday, 2 June 2023 @ 11.59pm (Week 13)   

**Overview:**   

- In the group assignment you will form a team of 3 students and participate in a forecasting competition on Kaggle
- The goal is to predict listed prices of Airbnb properties in Melbourne based on various Airbnb characteristics and regression models
- Assessment Summary:  
    - Write a problem statement and perform Exploratory Data Analysis  
    - Clean up data, deal with categorical features and missing observations, and create new explanatory variables (feature engineering)  
    - Construct and tune forecasting models, produce forecasts and submit your predictions to Kaggle  
    - Each member of the team will record a video presentation of their work  
    - Marks will be awarded producing a prediction in the top 5 positions of their unit as well as for reaching the highest ranking on Kaggle amongst all teams.

**Instructions:** 

- Form a team of 3 students (minimum 2 students)  
- Each team member needs to join [https://www.kaggle.com](https://www.kaggle.com/)  
- Choose a team leader and form a team in the competition [https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12](https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12)
    - Team leader to click on `team` and join and invite other team members to join
    - Your **team's name must start** with your unit code, for instance you could have a team called BUSA8001_masterful_geniuses or BUSA3020_l33t 
- All team members should work on all the tasks listed below however   
    - Choose a team member who will be responsible for one of each of the 3 tasks listed below    
- Your predictions must be generated by a model you develop here 
    - You will receive a mark of zero if your code provided here does not produce the forecasts you submit to Kaggle

**Marks**: 

- Total Marks: 40
- Your individual mark will consist of:  
    - 50% x overall assignment mark + 45% x mark for the task that you are responsible for + 5% x mark received from your teammates for your effort in group work

**Competition Marks:**  

- 1 mark: Ranking in the top 5 places of your unit on Kaggle (make sure you name your team as instructed above)   
- 2 marks: Reaching the first place in your unit (make sure you name your team as instructed above)


**Submissions:**  

1. On Kaggle: submit your team's forecast in order to be ranked by Kaggle
    - Can do this as many times as necessary while building their model  
2. On iLearn **only team leader to submit** this Jupyter notebook re-named `Group_Assignment_Team_Name.ipynb` where Team_Name is your team's name on Kaggle   
    - The Jupyter notebook must contain team members names/ID numbers, and team name in the competition
    - Provide answers to the 3 Tasks below in the allocated cells including all codes/outputs/writeups 
    - One 15 minute video recording of your work 
        - Each team member to provide a 5 minute presentation of the Task that they led (it is best to jointly record your video using Zoom)
        - When recording your video make sure your face is visible, that you share your Jupyter Notebook and explain everything you've done in the submitted Jupyter notebook on screen
        - 5 marks will be deducted from each Task for which there is no video presentation or if you don't follow the above instructions
        
3. On iLearn each student needs to submit a file with their teammates' names, ID number and a mark for their group effort (out of 100%)

---

**Fill out the following information**

For each team member provide name, Student ID number and which task is performed below

- Team Name on Kaggle: `BUSA8001_superhosts`
- Team Leader and Team Member 1: `Felix Rosenberger`
- Team Member 2: `John Rizk`

---

## Task 1: Problem Description and Initial Data Analysis {-}

1. Read the Competition Overview on Kaggle [https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12](https://www.kaggle.com/t/a154f28787174b628a2b7eaa238a5c12)
2. Referring to Competition Overview and the data provided on Kaggle write about a 500 words **Problem Description** focusing on key points that will need to be addressed as first steps in Tasks 2 and 3 below, using the following headings:
    - Forecasting Problem - explain what you are trying to do and how it could be used in the real world (i.e. why it may be important)
    - Evaluation Criteria - explain the criteria is used to assess forecast performance 
    - Types of Variables/Features
    - Data summary and main data characteristics
    - Missing Values (only explain what you found at this stage)
    - Hint: you should **not** discuss any specific predictive algorithms at this stage
    - Note: This task should be completed in a single Markdown cell (text box)
    
Total Marks: 12

In [106]:
# Task 1 code here
import pandas as pd

# setting display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# read in data
trainpath = "train.csv"
train = pd.read_csv(trainpath)
testpath = "test.csv"
test = pd.read_csv(testpath)

# concatenate dataframes to reduce redundancies in operations
df = pd.concat([train, test])

In [107]:
# types of variables / features
vtypes = df.dtypes.to_frame()
#vtypes.value_counts()
vtypes

                                                    0
ID                                              int64
source                                         object
name                                           object
description                                    object
neighborhood_overview                          object
host_name                                      object
host_since                                     object
host_location                                  object
host_about                                     object
host_response_time                             object
host_response_rate                             object
host_acceptance_rate                           object
host_is_superhost                              object
host_neighbourhood                             object
host_listings_count                           float64
host_verifications                             object
host_has_profile_pic                           object
host_identity_verified                         object
neighbourhood                                  object
neighbourhood_cleansed                         object
latitude                                      float64
longitude                                     float64
property_type                                  object
room_type                                      object
accommodates                                    int64
bathrooms                                      object
bedrooms                                      float64
beds                                          float64
amenities                                      object
minimum_nights                                  int64
maximum_nights                                  int64
minimum_minimum_nights                        float64
maximum_minimum_nights                          int64
minimum_maximum_nights                          int64
maximum_maximum_nights                        float64
minimum_nights_avg_ntm                        float64
maximum_nights_avg_ntm                        float64
has_availability                               object
availability_30                                 int64
availability_60                                 int64
availability_90                                 int64
availability_365                              float64
number_of_reviews                               int64
number_of_reviews_ltm                           int64
number_of_reviews_l30d                          int64
first_review                                   object
last_review                                    object
review_scores_rating                          float64
review_scores_accuracy                        float64
review_scores_cleanliness                     float64
review_scores_checkin                         float64
review_scores_communication                   float64
review_scores_location                        float64
review_scores_value                           float64
instant_bookable                               object
calculated_host_listings_count                  int64
calculated_host_listings_count_entire_homes     int64
calculated_host_listings_count_private_rooms    int64
calculated_host_listings_count_shared_rooms     int64
reviews_per_month                             float64
price                                          object

In [108]:
# data summary and characteristics
df.describe()

,ID,host_listings_count,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,9562.000000,9916.000000,10000.00000,10000.000000,9945.00000,10000.000000,1.000000e+04,9.945000e+03,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,9933.000000,10000.000000,10000.000000,10000.000000,9737.000000,9679.000000,9679.000000,9678.000000,9678.00000,9678.000000,9678.000000,10000.000000,10000.00000,10000.000000,10000.000000,9737.000000
mean,4999.50000,19.571400,-37.827168,145.031142,3.843100,1.794081,2.235075,4.41640,651.099800,3.95093,5.407800,2.155316e+05,2.376107e+06,4.68718,2.356230e+06,9.861600,26.771000,45.892700,168.580791,53.140900,17.643000,1.234400,4.687442,4.761851,4.677927,4.804996,4.82302,4.834347,4.666018,15.136500,10.43530,4.623400,0.042100,1.544088
std,2886.89568,65.232256,0.079428,0.173005,2.494735,1.051620,1.698655,22.24689,492.450292,18.79310,22.706652,2.147483e+07,7.138471e+07,20.66704,7.098348e+07,9.056072,19.439134,29.978376,128.959181,75.125194,22.048591,1.867995,0.529829,0.371915,0.424685,0.343690,0.34720,0.280267,0.399465,42.980386,23.16327,29.580092,0.388513,1.740338
min,0.00000,1.000000,-38.224110,144.517800,1.000000,1.000000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000e+00,1.000000e+00,1.00000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.00000,1.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.010000
25%,2499.75000,1.000000,-37.856305,144.956828,2.000000,1.000000,1.000000,1.00000,90.000000,1.00000,2.000000,3.650000e+02,3.650000e+02,1.40000,3.650000e+02,1.000000,7.000000,17.000000,54.000000,8.000000,2.000000,0.000000,4.630000,4.710000,4.570000,4.760000,4.80000,4.800000,4.580000,1.000000,1.00000,0.000000,0.000000,0.390000
50%,4999.50000,2.000000,-37.819212,144.979160,4.000000,1.000000,2.000000,2.00000,700.000000,2.00000,3.000000,1.125000e+03,1.125000e+03,2.00000,1.125000e+03,8.000000,29.000000,53.000000,151.000000,26.000000,10.000000,0.000000,4.820000,4.880000,4.800000,4.910000,4.93000,4.910000,4.760000,2.000000,1.00000,0.000000,0.000000,1.040000
75%,7499.25000,10.000000,-37.801015,145.044953,5.000000,2.000000,3.000000,3.00000,1125.000000,3.00000,4.000000,1.125000e+03,1.125000e+03,3.70000,1.125000e+03,16.000000,43.000000,71.000000,307.000000,67.000000,27.000000,2.000000,4.940000,4.970000,4.940000,5.000000,5.00000,4.980000,4.880000,8.000000,7.00000,1.000000,0.000000,2.170000
max,9999.00000,951.000000,-37.486450,145.852974,16.000000,14.000000,22.000000,1125.00000,10000.000000,1000.00000,1125.000000,2.147484e+09,2.147484e+09,1000.00000,2.147484e+09,30.000000,60.000000,90.000000,365.000000,836.000000,476.000000,28.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,290.000000,282.00000,224.000000,7.000000,41.750000

In [109]:
# missing values total
total_miss = df.isna().sum()
total_miss.to_frame()
total_miss = total_miss.reset_index()
total_miss.rename(columns={0:"total"}, inplace=True)
#total_miss.loc[total_miss["total"] > 0]

In [110]:
# missing values train
train_miss = train.isna().sum()
train_miss.to_frame()
train_miss = train_miss.reset_index()
train_miss.rename(columns={0:"train"}, inplace=True)
#train_miss.loc[train_miss["train"] > 0]

In [111]:
# missing values test
test_miss = test.isna().sum()
test_miss.to_frame()
test_miss = test_miss.reset_index()
test_miss.rename(columns={0:"test"}, inplace=True)
#test_miss.loc[test_miss["test"] > 0]

In [112]:
df.columns[df.isnull().any()]

Index(['name', 'description', 'neighborhood_overview', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_neighbourhood',
       'neighbourhood', 'neighbourhood_cleansed', 'property_type', 'room_type',
       'bathrooms', 'bedrooms', 'beds', 'minimum_minimum_nights',
       'maximum_maximum_nights', 'availability_365', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month', 'price'],
      dtype='object')

In [113]:
train.columns[train.isnull().any()]

Index(['name', 'description', 'neighborhood_overview', 'host_location',
       'host_about', 'host_acceptance_rate', 'host_neighbourhood',
       'neighbourhood', 'neighbourhood_cleansed', 'property_type', 'room_type',
       'bathrooms', 'bedrooms', 'beds', 'minimum_minimum_nights',
       'maximum_maximum_nights', 'availability_365', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value'],
      dtype='object')

In [114]:
test.columns[test.isnull().any()]

Index(['description', 'neighborhood_overview', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_neighbourhood', 'neighbourhood',
       'neighbourhood_cleansed', 'property_type', 'room_type', 'bedrooms',
       'beds', 'minimum_minimum_nights', 'maximum_maximum_nights',
       'availability_365', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month'],
      dtype='object')

In [115]:
train_miss.set_index("index", drop=True, inplace=True)
test_miss.set_index("index", drop=True, inplace=True)
total_miss.set_index("index", drop=True, inplace=True)
train_miss.join([test_miss, total_miss])

                                              train    test  total
index
ID                                                0     0.0      0
source                                            0     0.0      0
name                                              1     0.0      1
description                                      57    31.0     88
neighborhood_overview                          1823  1424.0   3247
host_name                                         0     0.0      0
host_since                                        0     0.0      0
host_location                                  1280   770.0   2050
host_about                                     2270  1441.0   3711
host_response_time                                0   737.0    737
host_response_rate                                0   737.0    737
host_acceptance_rate                             63   658.0    721
host_is_superhost                                 0     2.0      2
host_neighbourhood                             3460  2066.0   5526
host_listings_count                               0     0.0      0
host_verifications                                0     0.0      0
host_has_profile_pic                              0     0.0      0
host_identity_verified                            0     0.0      0
neighbourhood                                  1823  1424.0   3247
neighbourhood_cleansed                          108    42.0    150
latitude                                          0     0.0      0
longitude                                         0     0.0      0
property_type                                    84    39.0    123
room_type                                       134    41.0    175
accommodates                                      0     0.0      0
bathrooms                                         6     0.0      6
bedrooms                                        378    60.0    438
beds                                             72    12.0     84
amenities                                         0     0.0      0
minimum_nights                                    0     0.0      0
maximum_nights                                    0     0.0      0
minimum_minimum_nights                           45    10.0     55
maximum_minimum_nights                            0     0.0      0
minimum_maximum_nights                            0     0.0      0
maximum_maximum_nights                           45    10.0     55
minimum_nights_avg_ntm                            0     0.0      0
maximum_nights_avg_ntm                            0     0.0      0
has_availability                                  0     0.0      0
availability_30                                   0     0.0      0
availability_60                                   0     0.0      0
availability_90                                   0     0.0      0
availability_365                                 47    20.0     67
number_of_reviews                                 0     0.0      0
number_of_reviews_ltm                             0     0.0      0
number_of_reviews_l30d                            0     0.0      0
first_review                                      0   263.0    263
last_review                                       0   263.0    263
review_scores_rating                              0   263.0    263
review_scores_accuracy                           22   299.0    321
review_scores_cleanliness                        22   299.0    321
review_scores_checkin                            22   300.0    322
review_scores_communication                      22   300.0    322
review_scores_location                           22   300.0    322
review_scores_value                              22   300.0    322
instant_bookable                                  0     0.0      0
calculated_host_listings_count                    0     0.0      0
calculated_host_listings_count_entire_homes       0     0.0      0
calculated_host_listings_count_private_rooms      0     0.0      0
calculated_host_listings_count_shared_rooms       0     0.0      0
reviews_per_month                                 0   263.0    263
price                                             0     NaN   3000

`(Task 1, Text Here)`
### Forecasting Problem
The goal is to predict daily rental prices of Melbourne located AirBnB listings. This information could be used, for example, to assess the rental price a property with specific characteristics in certain suburbs is expected to yield. Especially in a business case scenario, where these cashflows might be used to pay off debt, this is a critical aspect for feasability assessment.

### Evaluation Criteria
The criteria to assess prediction performance is RMSE. This performance metric measures the average distance between predictions obtained by a model and actual target values. Thus, the lower the distance (and the smaller RMSE), the better the prediction quality. It also has the advantage of being in the same unit as the predicted variable which makes it easy to interpret.

### Types of Variables / Features
The 61 variables consist of various types which can be categorised as follows.
#### Categorical
##### Nominal
source  
name  
description  
neighborhood_overview  
host_name  
host_location  
host_about  
host_is_superhost  
host_neighbourhood  
host_verifications  
host_has_profile_pic  
host_identity_verified  
neighbourhood  
neighbourhood_cleansed  
amenities  
has_availability  
number_of_reviews_l30d  
instant_bookable  

##### Ordinal
host_response_time  
property_type  
room_type  


#### Numerical
ID  
host_since  
host_response_rate  
host_acceptance_rate  
host_listings_count  
latitude  
longitude  
accommodates  
bathrooms  
bedrooms  
beds  
minimum_nights  
maximum_nights  
minimum_minimum_nights  
maximum_minimum_nights  
minimum_maximum_nights  
maximum_maximum_nights  
minimum_nights_avg_ntm  
maximum_nights_avg_ntm  
availability_30  
availability_60  
availability_90  
availability_365  
number_of_reviews  
number_of_reviews_ltm  
first_review  
last_review  
review_scores_rating  
review_scores_accuracy  
review_scores_cleanliness  
review_scores_checkin  
review_scores_communication  
review_scores_location  
review_scores_value  
calculated_host_listings_count  
calculated_host_listings_count_entire_homes  
calculated_host_listings_count_private_rooms  
calculated_host_listings_count_shared_rooms  
reviews_per_month  
price  

### Data Summary and Main Data Characteristics
This dataset contains all relevant information and characteristics of Airbnb listings.

### Missing Values

---

## Task 2: Data Cleaning, Missing Observations and Feature Engineering {-}
- In this task you will follow a set of instructions/questions listed below.
- Make sure you **explain** each step you do both in Markdown text and on your video.
    - Do not just read out your commands without explaining what they do and why you used them 

Total Marks: 12

**Task 2, Question 1**: Clean **all** numerical features and the target variable `price` so that they can be used in training algorithms. For instance, `host_response_rate` feature is in object format containing both numerical values and text. Extract numerical values (or equivalently eliminate the text) so that the numerical values can be used as a regular feature.  
(2 marks)

In [116]:
## Task 2, Question 1 Code Here
# convert host response rate to decimal
df.host_response_rate = df.host_response_rate.str.rstrip('%').astype('float') / 100

For the variable `host_response_rate`, the percentage values (which are in string format) are converted to decimals by stripping away the percentage sign and converting the value to a float subsequently.

In [117]:
# convert host acceptance rate to decimal
df.host_acceptance_rate = df.host_acceptance_rate.str.rstrip('%').astype('float') / 100

For the variable `host_acceptance_rate`, the percentage values (which are in string format) are converted to decimals by stripping away the percentage sign and converting the value to a float subsequently.

In [118]:
# remove strings from bathroom variable
df.bathrooms = pd.to_numeric(df.bathrooms.str.replace(r'[^0-9\.]', ''), errors='coerce')

/tmp/ipykernel_16029/993012810.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.bathrooms = pd.to_numeric(df.bathrooms.str.replace(r'[^0-9\.]', ''), errors='coerce')

For the variable `bathrooms`, the values consist of a number and a string. Hence the strings are stripped away using regular expressions and the remaining values are converted to float. Because there were empty values which resulted in an error when converting to float, the errors parameter was used while converting to make sure these values would be set to NaN instead.

In [129]:
# remove dollar sign from price
df.price = df.price.str.replace('$', '', regex=True).str.replace(',', '', regex=True).astype('float')

The variable `price` contained dollar signs and commas and was also not in numerical format. Hence these issues have been fixed using with the `str.replace` method.

**Task 2, Question 2** Create at least 4 new features from existing features which contain multiple items of information, e.g. creating `email`,  `phone`, `work_email`, etc. from feature `host_verifications`.  
(2 marks)

In [12]:
## Task 2, Question 2 Code Here

`(Task 2, Question 2 Text Here)`

**Task 2, Question 3**: Impute missing values for all features in both training and test datasets. Hint: make sure you do **not** impute the price in the test dataset.
(3 marks)

In [13]:
## Task 2, Question 3 Code Here

`(Task 2, Question 3 Text Here)`

**Task 2, Question 4**: Encode all categorical variables appropriately as discussed in class. 


Where a categorical feature contains more than 5 unique values, map the feature into 5 most frequent values + 'other' and then encode appropriately. For instance, you could group then map `property_type` into 5 most frequent property types + 'other'  
(2 marks)

In [14]:
## Task 2, Question 4 Code Here

`(Task 2, Question 4 Text Here)`

**Task 2, Question 5**: Perform any other actions you think need to be done on the data before constructing predictive models, and clearly explain what you have done.   
(1 marks)

In [40]:
## Task 2, Question 5 Code Here
# ordinal and nominal feature encoding

# feature scaling

`(Task 2, Question 5 Text Here)`

**Task 2, Question 6**: Perform exploratory data analysis to measure the relationship between the features and the target and write up your findings. 
(2 marks)

In [16]:
## Task 2, Question 6 Code Here

`(Task 2, Question 6 Text Here)`

--- 
## Task 3: Fit and tune a forecasting model/Submit predictions/Report score and ranking {-}

Make sure you **clearly explain each step** you do, both in text and on the recoded video.

1. Build a machine learning (ML) regression model by taking into account the outcomes of Tasks 1 & 2 (Explain carefully)
2. Fit the model and tune hyperparameters via cross-validation: make sure you comment and explain each step clearly
3. Create predictions using the test dataset and submit your predictions on Kaggle's competition page
4. Provide Kaggle ranking and **score** (screenshot your best submission) and Comment
5. Make sure your Python code works, so that a marker that can replicate your all of your results and obtain the same RMSE from Kaggle

- Hint: to perform well in this assignment you will need to iterate Tasks 2 & 3, creating new features and training various models in order to find the best one.

Total Marks: 12

In [10]:
#Task 3 code here

`(Task 3 - insert more cells as required)`